
body {
    padding: 0;
    margin: 0;
}

border {
    background-color: #fefefe;
    background-size: auto;
   
}
/*   lists  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(189, 179, 179);

}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(228, 65, 24);
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 110px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #3a4454;
}
h5 {
    font-size: 50px;
    text-align: center;
    color: #fc6055;
}



.small-text {
    font-size: 14px;
    text-align: center;
}

a:hover {
    color: white;
}
/* -------- */
h5#test {
    position: relative;
    bottom: 110px;
    font-size: 30px;
    color: rgba(226, 28, 28, 0.63);
    font-family: cursive;
}

.container {
    background: green;
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

 h2 {
    font-size: 50px;
    color: rgb(8, 7, 8);
    text-align: center;
    
 }

 .section-about {
     background-color: #fc6055;
     font-size: 30px;
     font-family: cursive;
     padding-top: 2%;
     padding-bottom: 4%;
     line-height: 1.5;
 }

 .background-text h3 {
       text-align: left;
       font-size: 75px;
       color: #b8b6b6;
       font-family: monospace;

 }
 .background-text {
     background-image: url("background-image.png");
     height: 678px;
     padding: 10px;
     background-size: cover;
    
 }

 .icons {
    font-size: 110px;;
    color: peru;
    position: relative;
    margin: 20px;
    display: inline-block;

}

 .section-skills  {
      font-size: 30px;
      text-align: center;
      font-family: cursive;
      text-align: center;
      padding-bottom: 80px;
      
 }

 #skills-icons {
     background: white;
     align-items: center;
     padding: 15px;
 }

 

 .section-projects {
     background-image: url("copy.jpg");
     background-size: cover;
     height: 600px;
     padding-top: 1%;
     font-family: cursive;
     font-size: 50%;
 }

.section-projects p {
    color: rgba(0, 0, 0, 0.849);
    font-size: 30px;
    text-align: center;
    
}

a:hover {
  color: red;
  background-color: transparent;
}

/*  Animation */

